# Terraform
.terraform
# terraform.tfstate
# terraform.tfstate.backup
*.tfvars

# Ansible
*.retry

# MacOS
.DS_Store

# Python
*.pyc
__pycache__

# IDE
.idea
.vscode	

# Kubespray
*.key
credentials

# CNTB
.cntb

# Templates
kubeconfig.yml
inventory.ini
group_vars/all/all.yml
group_vars/k8s_cluster/k8s-cluster.yml
group_vars/k8s_cluster/addons.yml