name: Apply changes

concurrency:
  # Wait for other workflows to finish before starting this one
  group: ${{ github.repository_id }}
  cancel-in-progress: false 

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  apply:
    name: Apply changes
    runs-on: ubuntu-latest
    env:
        DOMAIN_NAME: ${{ vars.DOMAIN_NAME }}
    permissions: 
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get private key from secrets
        run: echo "${{ secrets.PRIVATE_KEY }}" > ${{ vars.DOMAIN_NAME }}-private.key

      - name: Get Contabo YAML from secrets && install cntb
        run: |
          echo "${{ secrets.CNTB_YAML_B64 }}" | base64 -d > ~/.cntb.yaml
          curl -sL https://github.com/contabo/cntb/releases/download/v1.5.3/cntb_v1.5.3_linux_amd64.tar.gz | tar xz -C /usr/local/bin cntb 
          chmod +x /usr/local/bin/cntb

      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Apply changes
        # Hide logs for public repositories
        run: make apply 1>/dev/null 2>/dev/null 

      - name: Tests changes
        run: make test

      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.tag_version.outputs.new_tag }}
          name: Release ${{ steps.tag_version.outputs.new_tag }}
          body: ${{ steps.tag_version.outputs.changelog }}